task 1

In [ ]:
name = "Minahil Umar"
roll_no = 1234
height = 5.3
age = 21
is_graduate = False
print(type(name))
print(type(roll_no))
print(type(height))
print(type(age))
print(type(is_graduate))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

task 3

In [ ]:
# for loop
for x in range(1,21):
  if x % 2 == 0:
    print(x)

#while loop
num = 1
while num <= 20:
  if num%2 == 0:
    print(num)
  num+=1

2
4
6
8
10
12
14
16
18
20
2
4
6
8
10
12
14
16
18
20

task 2

In [ ]:
# voting
age = int(input("Enter your age: "))
if age > 18:
  print("You can vote.")
elif age == 18:
  print("Turned 18")
else:
  print("You cannot vote")

Enter your age: 23
You can vote.

task 4

In [ ]:
#factorial
num = int(input("Enter number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print(f"The factorial of {num} is {factorial}")

Enter number: 5
The factorial of 5 is 120

task 5

In [ ]:
# OOP class
class BankAccount:
    def __init__(self, name):
        self.name = name
        self.balance = 0

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"{amount} added. New balance: {self.balance}")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance = self.balance - amount
            print(f"{amount} withdrawn. New balance: {self.balance}")
        else:
            print("Not enough money in the account.")

    def check_balance(self):
        print(f"{self.name}'s balance is: {self.balance}")

task 6

In [ ]:
#txt
with open("myfile.txt", "w") as file:
    file.write(" Hello\n")
    file.write(" This is Python\n")
    file.write(" Writing to a file\n")
    file.write(" Learning is fun\n")
    file.write("Goodbye!\n")

with open("myfile.txt", "r") as file:
    for line in file:
        print(line.strip())

#csv
import csv
data = [
    ["Name", "Age"],
    ["Minahil", 21],
    ["Ali", 20],
    ["Hanan", 22]
]
with open("people.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(data)
with open("people.csv", "r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

#json
import json
data = {
    "name": "Minahil",
    "age": 21,
    "is_student": True
}
with open("data.json", "w") as f:
    json.dump(data, f)
with open("data.json", "r") as f:
    content = json.load(f)
    print(content)

Hello
This is Python
Writing to a file
Learning is fun
Goodbye!
['Name', 'Age']
['Minahil', '21']
['Ali', '20']
['Hanan', '22']
{'name': 'Minahil', 'age': 21, 'is_student': True}

task 7

In [ ]:
# exception
try:
    num1 = 1
    num2 = 0
    result = num1 / num2
    print(result)

except ZeroDivisionError:
    print("undefined")

finally:
    print("program finished")

undefined
program finished

task 8

In [ ]:
#virtual env
%%writefile utils.py

def square(x):
    return x * x

Writing utils.py

In [ ]:
from utils import square

print("Square of 6 is:", square(6))

Square of 6 is: 36

task 9

In [ ]:
#list
student = ["Minah","Ali","Javeria","Sana"]
print(type(student))

#dictionary
students = {
    "minahil" : "56",
    "class" : "AI",
    "age" : "78"
}
print("Minahil's marks:", students["minahil"])

<class 'list'>
Minahil's marks: 56

task 10

In [ ]:
#dictionary using comprehension
squares = [x**2 for x in range(1,11)]
print (squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

task 11

In [ ]:
def even_numbers():
    for i in range(1, 11):
        if i % 2 == 0:
            yield i
for num in even_numbers():
    print(num)

2
4
6
8
10

task 12

In [ ]:
#map
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print("Squares:", squared)

#filters
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print("Even numbers:", evens)

#reduce
from functools import reduce
numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print("Product:", product)

Squares: [1, 4, 9, 16, 25]
Even numbers: [2, 4, 6]
Product: 24